{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <meta
        name="description"
        content="Lumiscript — A modern space for ideas, stories and perspectives."
    >

    <title>
        {% block title %}Lumiscript — A Modern Blogging Platform{% endblock %}
    </title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Page Specific CSS -->
    {% block extra_css %}
    {% endblock %}

</head>

<body>

    <!-- ==============================
         MAIN CONTENT
    =============================== -->

    {% block content %}
    {% endblock %}


    <!-- Global JavaScript -->
    <script src="{% static 'js/main.js' %}"> </script>


    <!-- Page Specific JavaScript -->
    {% block extra_js %}
    {% endblock %}

</body>
</html>